---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Box + Pixel - Great website experiences">
  <header class="container mx-auto px-5 py-12">
    <img src="/box+pixel.svg" alt="Box + Pixel" width="200" />
  </header>
  <main>
    <div class="container mx-auto px-5 pt-10">
      <h1
        class="font-figtree text-[56px] leading-tight font-bold text-gray-200"
        style="text-wrap: balance;"
      >
        Creating great website experiences that move you forward
      </h1>
    </div>

    <div class="bg-gradient-to-b from-dark via-blueDark to-dark">
      <div
        class="container mx-auto flex flex-col xl:grid xl:grid-cols-3 xl:gap-x-20 gap-y-20 px-5 py-40"
      >
        <section>
          <h2 class="text-3xl text-slate-100 font-bold">Marketing Websites</h2>
          <p class="text-lg text-slate-100">
            Combining effective design, smart development, accessibility, and
            technical search engine optimization to ensure you're found easily.
          </p>
        </section>

        <section>
          <h2 class="text-3xl text-slate-100 font-bold">
            Development Partnerships
          </h2>
          <p class="text-lg text-slate-100">
            Bringing your designs and ideas to life through trusted partnerships
            and real long-term relationships with partner designers and
            agencies.
          </p>
        </section>

        <section>
          <h2 class="text-3xl text-slate-100 font-bold">
            Consulting &amp; Training
          </h2>
          <p class="text-lg text-slate-100">
            Leading high-impact and long-lasting technical training to help you
            and your team stay right on the edge of what's possible and what's
            next.
          </p>
        </section>
      </div>
    </div>
    <!--
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
	 -->
  </main>
  <footer class="container mx-auto px-5 py-5 flex flex-col gap-5">
    <section>
      <img src="/box+pixel.svg" alt="Box + Pixel" width="150" />
      <p class="text-sm text-grayVeryLight font-light">
        A website experience company
      </p>
    </section>

    <section>
      <h3 class="text-md font-extrabold text-grayVeryLight leading-none">
        Get In Touch
      </h3>
      <a
        href="mailto:hello@boxandpixel.com"
        class="text-sm leading-none text-grayVeryLight">hello@boxandpixel.com</a
      >
    </section>

    <section>
      <p class="text-xs text-grayVeryLight">
        Copyright &copy; 2023 Box + Pixel, LLC.<br />All rights reserved.
      </p>
    </section>
  </footer>
</Layout>

<style>
  /*
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  */
</style>
